# Dependency directories
node_modules/
package-lock.json

#logs
*.log
npm-debug.log*

# imgages
images/
img/
*.png
*.jpg
*.gif
*.jpeg

# fonts
*.eot
*.ttf
*.woff
*.svg

# map
src/css/*.map
public/css/*.map
