<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_611086_bcxvamj8v0rx80k9.css">
    <link rel="stylesheet" href="./css/parts.css">
    <link rel="stylesheet" href="./css/brand-story.css" />
</head>

<body>
    <% include parts/header %>
        <div class="outer">
            <div class="banner">
                <img src="./images/story/story_banner.png" alt="" />
            </div>
            <div class="content">
                <div class="section1">
                    <div class="section1-text1">
                        <p>品牌简介</p>
                    </div>

                    <div class="section1-text2">
                        <p>BRAND PROFILE</p>
                    </div>

                    <div class="section1-line">

                    </div>

                    <div class="section1-text3">
                        <p>FashionGirl创立于2011年，专业为女性提供形体健康美解决方案的内衣品牌， 成立初衷旨在打造专属中国内衣文化，潜心研究女性的形体特征， 致力唤醒女性对乳房健康的认知，为女性的形体健康美不懈奋斗。
                        </p>
                    </div>
                </div>
                <!--section2-->
                <div class="section2">
                    <!-- section2-1-->
                    <div class="section2-z">
                        <div class="section2-1">
                            <div class="section2-1-l">
                                <img src="./images/story/story_pic1.png" alt="" />
                            </div>

                            <div class="section2-1-r">
                                <div class="section2-zh">
                                    <div class="section2-t1">品牌创作</div>
                                    <div class="section2-t2">BRAND CREATION</div>
                                    <div class="section2-line"></div>
                                    <div class="section2-t3">作为一款风靡全国的国内女性内衣品牌， FashionGirl的诞生来源于和谐唯美的自然体验。
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- section2-2-->
                        <div class="section2-2">
                            <div class="section2-2-l">
                                <div class="section2-2-zh">
                                    <div class="section2-a1">品牌定位</div>
                                    <div class="section2-a2">BRAND&nbsp;POSITIONING</div>
                                    <div class=section2-2-line></div>
                                    <div class="section2-a3">形体塑养内衣专家</div>
                                </div>
                            </div>

                            <div class="section2-1-r">
                                <img src="./images/story/story_pic2.png" alt="" />
                            </div>
                        </div>


                        <!-- section2-3-->
                        <div class="section2-1">
                            <div class="section2-1-l">
                                <img src="./images/story/story_pic3.png" alt="" />
                            </div>

                            <div class="section2-1-r">
                                <div class="section2-zh">
                                    <div class="section2-t1">价格策略</div>
                                    <div class="section2-t2">PRICE STRATEGY</div>
                                    <div class="section2-line"></div>
                                    <div class="section2-t3">一流形象、一流产品、一流服务， 让所有人都买得起的价格！ 主力价格300-1000元（中端价格）。
                                    </div>
                                </div>

                            </div>
                        </div>


                        <!-- section2-4-->
                        <div class="section2-2">
                            <div class="section2-2-l">
                                <div class="section2-2-zh">
                                    <div class="section2-a1">客群定位</div>
                                    <div class="section2-a2">GROUP&nbsp;POSITIONING</div>
                                    <div class=section2-2-line></div>
                                    <div class="section2-a3">25-45岁品位享美</div>
                                </div>
                            </div>

                            <div class="section2-1-r">
                                <img src="./images/story/story_pic4.png" alt="" />
                            </div>
                        </div>


                        <!-- section2-5-->
                        <div class="section2-1">
                            <div class="section2-1-l">
                                <img src="./images/story/story_pic5.png" alt="" />
                            </div>

                            <div class="section2-1-r">
                                <div class="section2-zh">
                                    <div class="section2-t1">品牌调性</div>
                                    <div class="section2-t2">BRAND TONALITY</div>
                                    <div class="section2-line"></div>
                                    <div class="section2-t3">精致柔美、创业匠心、专业丰富</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include parts/footer %>
            <script src="./js/jquery-1.11.3.js"></script>
            <script src="./js/layer-v3.1.1/layer/layer.js"></script>
            <script src="./js/index.js"></script>
</body>

</html>