<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_611086_1tufovounm56ogvi.css">
    <link rel="stylesheet" href="./css/parts.css">
    <link rel="stylesheet" href="./css/cultrue.css" />
    <link rel="stylesheet" href="./css/reveal.css" />
</head>

<body>
    <% include parts/header %>
        <header>
            <h5>如果说款式结构是中西方内衣之父，美学理念是母，
            <br/>那么<span>文化意义</span>就是它们的灵魂。</h5>
        </header>
        <section>
            <div id="culContent">
                <ul>
                    <li>
                        <div class="culCaption">
                            <p>对身材的关系</p>
                        </div>
                    </li>
                    <li class="liClass">
                        <div class="culCaptionNum1">
                            <a href="#" class="big-link" data-reveal-id="myModalNuml" data-animation="fade">
                                <img src="./images/culture/101/textbook01.png" alt="" />
                                <br/>
                                <span>了解自己的胸型</span>
                                <br/>
                                <img src="./images/culture/bofang.png" alt="" />
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="culCaptionNum1">
                            <a href="#" class="big-link" data-reveal-id="myModalNum1_1" data-animation="fade">
                                <img src="./images/culture/102/textbook02.png" alt="" />
                                <br/>
                                <span>清楚自己的尺码</span>
                                <br/>
                                <img src="./images/culture/bofang.png" alt="" />
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="culCaptionNum1">
                            <a href="#" class="big-link" data-reveal-id="myModalNum1_2" data-animation="fade">
                                <img src="./images/culture/103/textbook03.png" alt="" />
                                <br/>
                                <span>寻找你的美丽</span>
                                <br/>
                                <img src="./images/culture/bofang.png" alt="" />
                            </a>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <div class="culCaption">
                            <p>内衣穿护之道</p>
                        </div>
                    </li>
                    <li>
                        <div class="culCaptionNum2" id="num2First">
                            <a href="#" class="big-link" data-reveal-id="myModalNum2_1" data-animation="fade">
                                <img src="./images/culture/201/textbook04.png" alt="" />
                                <span>
                                    内衣的穿戴步骤
                                    <img src="./images/culture/bofang.png" alt="" />
                                </span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="culCaptionNum2">
                            <a href="#" class="big-link" data-reveal-id="myModalNum2_2" data-animation="fade">
                                <img src="./images/culture/202/textbook05.png" alt="" />
                                <span>
                                    内衣洗涤
                                    <img src="./images/culture/bofang.png" alt="" />
                                </span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="culCaptionNum2">
                            <a href="#" class="big-link" data-reveal-id="myModalNum2_3" data-animation="fade">
                                <img src="./images/culture/203/textbook06.png" alt="" />
                                <span>
                                    内衣晾晒
                                    <img src="./images/culture/bofang.png" alt="" />
                                </span>
                            </a>

                        </div>
                    </li>
                    <li>
                        <div class="culCaptionNum2">
                            <a href="#" class="big-link" data-reveal-id="myModalNum2_4" data-animation="fade">
                                <img src="./images/culture/204/textbook07.png" alt="" />
                                <span>
                                    内衣折叠及保存
                                    <img src="./images/culture/bofang.png" alt="" />
                                </span>
                            </a>

                        </div>
                    </li>
                </ul>
                <ul id="left_Ul">
                    <li>
                        <div class="culCaption">
                            <p>挑选你的专属内衣</p>
                        </div>
                    </li>
                    <li>
                        <div class="culCaptionNum3" id="num3First">
                            <a href="#" class="big-link" data-reveal-id="myModalNum3_1" data-animation="fade">
                                <img src="./images/culture/301/textbook08.png" alt="" />
                                <br/>
                                <span>选购内衣的要点
                                    <br/>
                                    <img src="./images/culture/bofang.png" alt="" />
                                </span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="culCaptionNum3">
                            <a href="#" class="big-link" data-reveal-id="myModalNum3_2" data-animation="fade">
                                <img src="./images/culture/302/textbook09.png" alt="" />
                                <br/>
                                <span>内外衣服的搭配
                                    <br/>
                                    <img src="./images/culture/bofang.png" alt="" />
                                </span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>


            <!--myNodaNum1了解自己的胸型-->
            <div id="myModalNuml" class="reveal-modal">
                <img src="./images/culture/101/textbook01.png" alt="" class="myImg" />
                <br/>
                <img src="./images/culture/101/know_ChestType_font.jpg" alt="" class="myImg" />
                <p>脱下内衣，双手自然下垂，观察你的胸部。</p>
                <div id="myNav1_1">
                    <ul>
                        <li>
                            <div>
                                <img src="./images/culture/101/know_ChestType_a.jpg" alt="" />
                                <span>胸部最高点位于上手臂中点的水平线上，但胸部隆起高，底部半径较大。</span>
                            </div>
                        </li>
                        <li>
                            <img src="./images/culture/101/know_ChestType_PartY.jpg" alt="" />
                        </li>
                        <li>
                            <div>
                                <img src="./images/culture/101/know_ChestType_b.jpg" alt="" />
                                <span>胸部最高点位于上手臂中点的水平线上，但胸部隆起较低或胸部底部较小。</span>
                            </div>
                        </li>
                        <li>
                            <img src="./images/culture/101/know_ChestType_PartY.jpg" alt="" />
                        </li>
                        <li>
                            <div>
                                <img src="./images/culture/101/know_ChestType_c.jpg" alt="" />
                                <span>胸部的乳间距大于肩宽的1/2</span>
                            </div>
                        </li>
                        <li>
                            <img src="./images/culture/101/know_ChestType_PartY.jpg" alt="" />
                        </li>
                        <li>
                            <div>
                                <img src="./images/culture/101/know_ChestType_d.jpg" alt="" />
                                <span>胸部最高点应在肩到腰的中心点，或低于标准位置。</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <p>不同胸型对于罩杯的选择：</p>
                <div id="myNav1_2">
                    <ul>
                        <li>
                            <div>
                                <img src="./images/culture/101/know_ChestType_aa.jpg" alt="" />
                                <span>胸部最高点应在肩到腰的中心点，或低于标准位置。</span>
                            </div>
                        </li>
                        <li>
                            <img src="./images/culture/101/know_ChestType_PartY.jpg" alt="" />
                        </li>
                        <li>
                            <div>
                                <img src="./images/culture/101/know_ChestType_bb.jpg" alt="" />
                                <span>在罩杯底部加插片或下罩杯的加厚设计有效抬高胸部。加宽肩带或直接连接下罩杯的设计有提升作用，令胸形丰盈上挺。</span>
                            </div>
                        </li>
                        <li>
                            <img src="./images/culture/101/know_ChestType_PartY.jpg" alt="" />
                        </li>
                        <li>
                            <div>
                                <img src="./images/culture/101/know_ChestType_cc.jpg" alt="" />
                                <span>罩杯侧面加护衬或插片的款式，归拢的效果最好，适合外扩胸型。加宽侧边设计 　又能归拢腋下侧边赘肉，集中归拢。</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <a class="close-reveal-modal">&#215;</a>
            </div>

            <!--myNodaNum1_1 清楚自己的尺码-->
            <div id="myModalNum1_1" class="reveal-modal">
                <img src="./images/culture/102/textbook02.png" alt="" class="myImg" />
                <br/>
                <img src="./images/culture/102/clear_size_font.jpg" alt="" class="myImg" />
                <p>通常我们觉得“内衣不合身”、“太紧”、“穿着辛苦”或“肩痛”等都是因为尺码不对。</p>
                <div class="mySize">
                    <div class="mySize_1">
                        <div class="mySize_11">
                            所谓的尺码包括
                        </div>
                        <div class="mySize_12">
                            <ul>
                                <li>1.自己身体的尺码</li>
                                <li>2.与体型相称的内衣尺码</li>
                            </ul>
                        </div>
                    </div>
                    <div class="mySize_2">
                        <div class="mySize_21">
                            测量尺码
                            <br/> 需要注意的要点
                        </div>
                        <div class="mySize_22">
                            <ul>
                                <li>1.尽量以赤裸的状态来度量</li>
                                <li>2.立正放松肩膀，将脊椎自然伸直</li>
                                <li>3.软尺应保持水平，并且不可滑脱</li>
                                <li>4.测量时不可把软尺拉得过紧或过松</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <img src="./images/culture/102/clear_size_measurement.jpg" alt="" class="myImg" />
                </div>
                <div>
                    <img src="./images/culture/102/clear_size_content.png" alt="" class="myImg" />
                </div>
                <a class="close-reveal-modal">&#215;</a>
            </div>

            <!--myNodaNum1_2 寻找你美丽的密码-->
            <div id="myModalNum1_2" class="reveal-modal">
                <img src="./images/culture/103/textbook03.png" alt="" class="myImg" />
                <br/>
                <img src="./images/culture/103/found_beautypsd_font.png" alt="" class="myImg" />
                <p>华歌尔一直致力于解密中国女性体形美的指标。从1997年起，历经10年时间，华歌尔在庞大的调研数据上进行
                    <br/> 缜密的分析，得出了关于“美丽密码”的结论。华歌尔认为，不论身高、体重，比例匀称就是美。
                </p>
                <div class="beautyPasd_1">
                    <p>比例匀称 4大“美丽密码”</p>
                </div>
                <div class="beautyPasd_2">
                    <p class="pasdText">胴体匀称美</p>
                    <p class="washText">胴体匀称美是4大密码中最主要的，是给人第一眼的整体印象。胸、腰、臀的围度，正面宽度和侧面厚度比例是
                        <br/> 否匀称，整体外轮廓线条是否顺畅都是评价胴体匀称美的指标。而其中最能反映胴体匀称美的指标就是大家熟
                        <br/> 知的三围比例（胸围、腰围、臀围），比例凹凸有致的X体形是美丽的体形。
                    </p>
                    <p class="pic1"></p>
                    <p class="washText">那很多人天生的身材不是X型的，该如何改善呢？基本法则就是借助内衣，来使得“胸更丰满，腰更细，臀更
                        <br/> 翘”。图中的女性借助文胸和束裤，从普通的H体形进入到美丽体形的范围。
                    </p>
                    <p class="pic2"></p>
                </div>
                <div class="beautyPasd_3">
                    <p class="pasdText">胸部匀称美</p>
                    <p class="washText">胸部匀称美。我们通过图片来直观感受一下美丽的胸形和不美的胸形的差别。</p>
                    <p class="pic1"></p>
                    <p class="washText">你是否觉得“体形天生如此，我无能为力了”呢？来看一下内衣是如何帮助我们改善胸形的吧。</p>
                    <p class="pic2"></p>
                </div>
                <div class="beautyPasd_4">
                    <p class="pasdText">腹臀匀称美</p>
                    <p class="washText">腹臀匀称美。腰臀间拥有美丽曲线，没有隆起的腹部，适度突出和上翘的臀部，这些都是匀称美的关键。
                        <br/> 另外，千万不要认为胖的人，腹部才会突起而放松自己哦！
                        <br/> 根据需求穿着塑身产品，改善腹部突出的同时，可以很好地呈现出腰臀比例！
                    </p>
                    <p class="pasdText">姿态匀称美</p>
                    <p class="washText">
                        姿态匀称美。为什么有些人穿西装就很美呢？这与人的姿态有关。如果其他指标全部达成，姿态不美也无法凸 现出你美丽的体形。关于姿态匀称美，共有3个指标：从侧面看，胸比腹更突出、臀比背更突出、背部不呈隆起 驼背状。
                    </p>
                    <p class="washText">
                        裸体状态下四大美的密码全部达成的人是很少的，还不足1%。那么对于没有完全符合美丽指标的大部分女性来 说,需要借助内衣来改善！
                    </p>
                    <p class="washText">
                        华歌尔人体科学研究所的目标就是让中国女性更美丽。掌握中国女性的体型特征、了解中国女性的美丽需求、 运用四大美丽密码设计开发出让中国女性更美丽的内衣。
                    </p>
                </div>



                <a class="close-reveal-modal">&#215;</a>
            </div>


            <!--myNodaNum2_1 内衣穿戴步骤-->
            <div id="myModalNum2_1" class="reveal-modal">
                <img src="./images/culture/201/textbook04.png" alt="" class="myImg" />
                <br/>
                <img src="./images/culture/201/wear_steps_font.jpg" alt="" class="myImg" />
                <p>你穿内衣的方法正确吗？错误的穿戴方法不仅不能使内衣的功能完全发挥出来，还对健康造成伤害。
                    <br/> 下面的小测试，只要有一题符合，就表示你穿戴内衣的方法不正确，赶快纠正过来吧！
                </p>
                <div class="myStep">
                    <div class="myStep1">
                        <div class="myStep1_1">
                            <p class="stepText4">罩杯和肩带外侧是否有赘肉溢出？</p>
                            <p class="stepText3">罩杯上缘是否过紧，尺码合适吗？</p>
                        </div>
                        <div class="myStep1_2">
                            <p class="stepText1">下胸围是否紧贴，
                                <br/> 是否水平的穿戴于身体？
                            </p>
                            <p class="stepText2">
                                正常站立时，
                                <br/> 文胸的前中心是否松浮？
                                <br/> （以可容1只手指的空隙为准）
                            </p>
                        </div>
                    </div>
                    <div class="myStep2">
                        <p class="stepText5">肩带是否太松或太紧，当手上举时，
                            <br/> 下胸围是否会跟着上移？
                        </p>
                        <p class="stepText6">
                            背部是否会出现赘肉勒痕？
                            <br/> 背扣是否比胸前的下围高呢？
                        </p>
                    </div>
                </div>
                <div class="myStep3">
                    把乳房完全套进罩杯内适度调整是穿戴的重点
                </div>
                <div class="myStep4">
                    <div class="myStep4_1">
                        <p class="myText">手臂穿过肩带，挂在双肩，用双手托住罩杯下方。</p>
                    </div>
                    <div class="myStep4_2">
                        <p class="myText">上身略微前倾45度，把内衣贴住胸部下面，使乳房完全归进罩杯后，双手绕到背后扣上背扣。</p>
                    </div>
                    <div class="myStep4_3">
                        <p class="myText">上身依然呈45度前倾，用手将腋下和背部的赘肉都推进罩杯内。</p>
                    </div>
                    <div class="myStep4_4">
                        <p class="myText">起身将内衣两侧拉平，调节肩带长度，让背带的位置在肩胛骨以下，最后将手伸进罩杯旁边，将四周的赘肉推进来，将文胸两侧拉平。</p>
                    </div>
                    <div class="myStep4_5">
                        <p class="myText">活动一下，以最舒服的感觉为准。</p>
                    </div>
                </div>
                <a class="close-reveal-modal">&#215;</a>
            </div>

            <!--myNodaNum2_2 内衣洗涤-->
            <div id="myModalNum2_2" class="reveal-modal">
                <img src="./images/culture/202/textbook05.png" alt="" class="myImg" />
                <br/>
                <img src="./images/culture/202/Underwear_Wash_font.png" alt="" class="myImg" />
                <p>
                    内衣是最接近身体的衣物，所以必须较上衣更加注意其清洁、舒适、保养等。
                    <br/> 小心照顾您的内衣，内衣的清洁、晾晒、保养，都有需要特别注意的地方。
                </p>
                <div class="myWash">
                    <div>
                        <p class="washTitle1">清洁</p>
                        <p class="washText1">污垢会影响通气、吸湿、保温及柔软性，从而损坏质料，所以内衣细致呵护的洗涤至为重要。有喜欢的内衣就
                            <br/> 买多一点，分开使用反而耐穿。高级或高价产品有时只是美观而未必耐用，只有小心呵护才可以保持它的优
                            <br/> 点。另外内衣的质料多为柔薄纤细，穿着及脱下时不可过分用力，也要注意指甲不可勾划纤维。
                        </p>
                    </div>
                    <div class="washTitle2">
                        <p class="washTitle2">洗涤</p>
                    </div>

                    <div class="washTitle3">
                        <div class="listUp">
                            <p class="one"></p>
                            <p class="washText">因为内衣的材质通常比较娇嫩，
                                <br/> 建议“手洗”，不要“机洗”。
                            </p>
                        </div>
                        <div class="washPart1"></div>

                        <div class="listUp">
                            <p class="two"></p>
                            <p class="washText">水温不宜过热，建议用温水洗涤。</p>
                        </div>
                        <div class="washPart1"></div>

                        <div class="listUp">
                            <p class="three"></p>
                            <p class="washText">
                                洗剂建议选用温和的“中性洗剂”。</p>
                        </div>

                        <div class="listDown">
                            <p class="four"></p>
                            <p class="washText">
                                请不要将洗剂直接涂抹于内衣上，
                                <br/> 这样容易造成内衣的着色不均。
                                <br/> 正确的方式是先将洗剂倒入温水
                                <br/> 中，充分溶解后，再把内衣放进
                                <br/> 去进行洗涤。
                            </p>
                        </div>
                        <div class="washPart2"></div>

                        <div class="listDown">
                            <p class="five"></p>
                            <p class="washText">
                                洗涤时，以轻按的手洗方式，不要
                                <br/> 过度用力地进行揉搓，以免内衣的
                                <br/> 纤维材质受到损坏。
                            </p>
                        </div>
                        <div class="washPart2"></div>

                        <div class="listDown">
                            <p class="six"></p>
                            <p class="washText">
                                用充足的清水洗净，轻按后以干毛
                                <br/> 巾包上，用手挤压，使水分被毛巾
                                <br/> 吸收。
                            </p>
                        </div>
                    </div>
                    <div class="washTitle4">
                        <p class="washTitle2"> 小小建议</p>
                        <p class="washSpan"> 洗剂不能清洗的污渍怎样清除？</p>
                        <p class="washText">
                            时间越长，污渍便更浸入质料组织，越难清洗。几乎所有污渍只要立刻清洗就可以去掉，所以请尽快清洗。
                            <br/> 唇膏或粉底可用酒精或挥发性液剂去除后再清洗。血迹可用牙刷沾上稀释后的洗涤剂去除。切记清洗内衣是绝对不可使用漂白剂。
                        </p>
                    </div>
                </div>
                <a class="close-reveal-modal">&#215;</a>
            </div>

            <!--myNodaNum2_3 内衣晾晒-->
            <div id="myModalNum2_3" class="reveal-modal">
                <img src="./images/culture/203/textbook06.png" alt="" class="myImg" />
                <br/>
                <img src="./images/culture/203/underwear_air_font.jpg" alt="" class="myImg" />
                <p>
                    内衣是最接近身体的衣物，所以必须较上衣更加注意其清洁、舒适、保养等。
                    <br/> 小心照顾您的内衣，内衣的清洁、晾晒、保养，都有需要特别注意的地方。
                </p>
                <div class="myAir">
                    <div class="airText1">
                        <p class="airOne">
                            洗涤后应立即晾晒。
                            <br/> 否则容易引起褶皱、褪色及
                            <br/> 其他衣物染附上颜色。
                        </p>
                        <p class="airTwo">
                            选择阴凉通风处晾干，不要 于烈日下暴晒，易使内衣变 质变黄，令寿命缩短。
                        </p>
                    </div>
                    <div class="airText2">
                        <p class="airThree">
                            将内衣褶皱小心整平至原
                            <br/> 状，特别是文胸需要将罩
                            <br/> 杯形状整理好。
                        </p>
                        <p class="airFour">
                            冬季时不可于设有暖炉的室内晾干。
                        </p>
                    </div>
                    <div></div>
                </div>
                <a class="close-reveal-modal">&#215;</a>
            </div>

            <!--myNodaNum2_4 内衣折叠-->
            <div id="myModalNum2_4" class="reveal-modal">
                <img src="./images/culture/204/textbook07.png" alt="" class="myImg" />
                <br/>
                <img src="./images/culture/204/Underwear_FoldKeep_font.png" alt="" class="myImg" />
                <p>
                    1.留意标签上的熨衣说明，尤其留意熨衣温度。
                    <br/> 2.应将内衣完全晾干后才保存。湿气附在衣服上会造成变色、起皱及发霉。
                    <br/> 3.保存前应根据内衣的纹理进行折叠。
                    <br/> 4.将内衣存放于内衣专用柜或抽屉最为妥贴，注意不可挤压。
                    <br/> 5.建议与配套的内裤一起存放，取用时更加方便。
                </p>
                <div class="foldText1">
                    <!--图片-->
                </div>
                <div class="foldText2">
                    <p class="washTitle2">小小建议</p>
                    <p class="washText">
                        内衣是最贴身的衣服，不论天气干爽或是闷热，通常也会有一些汗渍、细菌，
                        <br> 一般为保持个人卫生着想，内衣若是穿着超过3-4个月，就建议更换了。
                        <br> 下面的选项中如果超过三条符合，就应该换新内衣啦。
                    </p>
                </div>
                <div class="foldText3">
                    <div class="foldBox">
                        <p class="foldOne"></p>
                        <p class="washText">钢圈变形</p>
                    </div>
                    <div class="part81h"></div>

                    <div class="foldBox">
                        <p class="foldTwo"></p>
                        <p class="washText">两侧面料或松紧部分
                            <br/> 失去弹性
                        </p>
                    </div>
                    <div class="part81h"></div>

                    <div class="foldBox">
                        <p class="foldThree"></p>
                        <p class="washText">下围的松紧带松弛</p>
                    </div>
                    <div class="part81h"></div>

                    <div class="foldBox">
                        <p class="foldFour"></p>
                        <p class="washText">罩杯上有褶皱或凹陷</p>
                    </div>


                    <div class="foldBox">
                        <p class="foldFive"></p>
                        <p class="washText">肩部失去弹性，容易下滑</p>
                    </div>
                    <div class="part81h"></div>

                    <div class="foldBox">
                        <p class="foldSix"></p>
                        <p class="washText">面料、色泽有陈旧感</p>
                    </div>
                    <div class="part81h"></div>

                    <div class="foldBox">
                        <p class="foldSeven"></p>
                        <p class="washText">无论怎样调节扣带
                            <br/> 还是觉得不合身
                        </p>
                    </div>
                    <div class="part81h"></div>

                    <div class="foldBox">
                        <p class="foldEight"></p>
                        <p class="washText">已经超过一年没有穿戴
                            <br/> 以后也可能不会再去穿
                        </p>
                    </div>

                </div>

                <a class="close-reveal-modal">&#215;</a>
            </div>


            <!--myNodaNum3_1选购内衣的要点-->
            <div id="myModalNum3_1" class="reveal-modal">
                <img src="./images/culture/301/textbook08.png" alt="" class="myImg" />
                <br/>
                <img src="./images/culture/301/select_point__font.jpg" alt="" class="myImg" />
                <p>内衣的价格绝不便宜，也不是像袜子一样随便买买便可以的商品，为了不要买
                    <br/> 错、后悔或与店铺发生争执，简单介绍一下选购内衣的要点吧。
                </p>
                <div class="myKey">
                    <div class="keyTextB">
                        <p>
                            不仅因为我们自身的体形会发生变 化，还由于各品牌的内衣即使是同一尺
                            <br/> 寸也会存在一定程度的差异。所以购买
                            <br/> 前的试穿是十分必要的
                        </p>
                    </div>
                    <div class="keyImg">
                        <img src="./images/culture/301/select_point_content.jpg" alt="" />
                    </div>
                    <div class="keyTextA">
                        <p>
                            女性的体形会随着季节、体重、饮
                            <br/> 食、生理周期等发生变化。如果穿着过
                            <br/> 松或过紧的内衣，会对我们的体形和健
                            <br/> 康造成伤害。因此，只有选对自己的尺
                            <br/> 寸，才能健康完美地展现风采。
                        </p>
                    </div>
                    <div class="keyTextC">
                        <p>
                            在挑选内衣时，请大胆地和专柜B
                            <br/> A谈谈自己体形上的烦恼，更多的沟通
                            <br/> 可以让BA了解你的想法，从而提供你
                            <br/> 专业的顾问式建议，这样才能挑选到属
                            <br/> 于你的理想内衣。
                        </p>
                    </div>

                </div>
                <a class="close-reveal-modal">&#215;</a>
            </div>

            <!--myNodaNum3_2选购内衣搭配-->
            <div id="myModalNum3_2" class="reveal-modal">
                <img src="./images/culture/302/textbook09.png" alt="" class="myImg" />
                <br/>
                <img src="./images/culture/302/wearing_collocation_font.jpg" alt="" class="myImg" />
                <p>内衣不但需要配合体型与心情，是否迎合当时场合同样重要——这是穿着内衣的基本知识。
                    <br/> 如能配合外装的设计、质料和穿着场合等，足见个人的衣着品味。
                </p>
                <div class="myMatchTitle">
                    <p>配衬外装的要点</p>
                </div>
                <div class="myMatch">
                    <div class="matchText1">

                        <div class="matchBoxA">
                            <p class="washText">配合外装的设计吗？
                                <br/> 美观吗？
                            </p>
                        </div>
                        <div class="part40h"></div>

                        <div class="matchBoxB">
                            <p class="washText">内衣线条显眼吗？</p>
                        </div>
                        <div class="part40h"></div>

                        <div class="matchBoxC">
                            <p class="washText">活动舒适吗？
                                <br/> 会否感到不自然？
                            </p>
                        </div>
                        <div class="part40h"></div>

                        <div class="matchBoxD">
                            <p class="washText">颜色会相撞吗？
                                <br/> 能否协调？
                            </p>
                        </div>
                    </div>

                    <div class="matchText2">
                        <div class="matchText2_Left">
                            <p class="matchT">办公室搭配
                                <br/> 搭配套装
                            </p>
                            <p class="washText"> 穿着此类套装胸部线条是重点。以全身束衣或 长文胸加长型束裤可以使曲线玲珑。穿着紧身 半腰裙的时候，可选择有升开衩的衬裙搭配， 避免尴尬的"内衣边界线"。
                            </p>
                        </div>
                        <div class="part530h"></div>
                        <div class="matchText2_Right">
                            <p class="matchT">日常生活搭配
                                <br/> 搭配衬衫与紧身裤
                            </p>
                            <p class="washText">
                                开领的衬衫适合不易外露的文胸，比如现在大热的Deep V设计，加上华歌尔独特的侧边加宽设计和无痕面料的运用， 能不着痕迹地勾勒出线条。穿紧身裤最大的败笔就是露出内裤的勒线， 最好选用臀部和下摆部分都没有缝口的无痕轻压束裤。
                            </p>
                        </div>

                    </div>

                    <div class="matchText3">
                        <div class="part316w"></div>
                        <div class="part316w"></div>
                    </div>

                    <div class="matchText4">
                        <div class="matchText2_Left">
                            <p class="matchT">约会搭配
                                <br/> 搭配连衣裙
                            </p>
                            <p class="washText"> 穿大开领的衣服时，可脱卸肩带的模塑 杯文胸最为合适。露背的连衣裙则应衬低背长文胸。建议连 衣裙里加上衬裙，更能顺滑身体线条，轻松营造凹凸有致的 曼妙身姿。
                            </p>
                        </div>
                        <div class="part530h"></div>
                        <div class="matchText2_Right">
                            <p class="matchT">休闲搭配
                                <br/> 搭配运动装
                            </p>
                            <p class="washText">
                                做运动时，最重要的是舒适感与活动自如。 请选择质料柔软且富有弹性的内衣，那么就 算是激烈运动，也不成问题。特制的运动型内衣， 吸湿排汗，能防止双乳过度摇摆，肩带不易滑落。 最适合剧烈运动用。
                            </p>
                        </div>
                    </div>

                    <div class="matchText5">
                        <div class="matchImg"></div>
                        <div class="matchFont">
                            <p class="matchT1">宴会搭配</p>
                            <p class="matchT2">
                                在特别的日子里：结婚或宴会的衣着——配衬婚纱和礼服</p>
                            <p class="washText1">
                                一生一次的难忘时刻，所有人的焦点都放在您身上，穿着婚纱时最重 要是修饰身材，衬托出华贵婚纱的设计与线条美。高压型的束身衣能 够完全修饰胸、腰臀部线条，是最为合适的选择。此时，将胸部提高 和集中来配衬低胸领口是全身重点。
                            </p>
                        </div>
                    </div>

                </div>




                <a class="close-reveal-modal">&#215;</a>
            </div>

        </section>
        <% include parts/footer %>
            <script src="./js/jquery-1.4.4.min.js"></script>
            <script src="./js/jquery.reveal.js"></script>
            <script src="./js/jquery-1.11.3.js"></script>
            <script src="./js/layer-v3.1.1/layer/layer.js"></script>
            <script src="./js/index.js"></script>
</body>

</html>