<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_611086_1tufovounm56ogvi.css">
    <link rel="stylesheet" href="./css/parts.css">
    <link rel="stylesheet" href="./css/index.css">
    <title>index</title>
</head>

<body>

    <header>
        <% include parts/header %>
            <!-- 导航轮播 -->
            <div class="box-banner">
                <div class="head-banner">
                    <li></li>
                    <li></li>
                    <li></li>
                </div>
            </div>
    </header>
    <section>
        <!-- 内容第一部分 -->
        <div class="first-contain">
            <p>野性魅惑
                <i class="icon-1 iconfont"></i>
            </p>
            <p>清新诱惑系列产品，以清新浅色为主打，展现女性青春之美，给人活力，让人蠢蠢欲动</p>
            <div class="section-button">
                <button>前往查看</button>
                <button>更多系列</button>
            </div>
            <div class="img-t1">
                <div> </div>
                <p>黑猫诱惑Sexy Girl</p>
            </div>
            <div class="img-t2">
                <div></div>
                <p>魅惑新款 New</p>
            </div>
            <div class="text_t1">
                <p>微风荡漾</p>
                <p>在这个季节</p>
                <p>你变得愈发性感</p>
                <p>你把无穷的热量化作无尽的温暖</p>
                <p>源源不断</p>
            </div>
        </div>
        <!-- 内容第二部分 -->
        <div class="second_contain">
            <p>清新自然
                <i class="icon-ningmeng iconfont"></i>
            </p>
            <p>清新诱惑系列产品，以清新浅色为主打，展现女性青春之美，给人活力，让人蠢蠢欲动</p>
            <div class="section-button2">
                <button>前往查看</button>
                <button>更多系列</button>
            </div>
            <div class="second_img">
                <div class="second_img1">
                    <p>清新丽人Satisfactory</p>
                </div>
                <div class="second_img2">
                    <div></div>
                    <div></div>
                    <p>无法爱上，这般随意的绽放，正如无法爱上，所有泛滥膨胀的情感</p>
                </div>
                <div class="second_img3">
                    <p>清新可人 Pure</p>
                </div>
            </div>
        </div>
        <!-- 内容第三部分 -->
        <div class="three_contain">
            <p>活力少女
                <i class="iconfont icon-Windsurfing"></i>
            </p>
            <p>清新诱惑系列产品，以清新浅色为主打，展现女性青春之美，给人活力，让人蠢蠢欲动</p>
            <div class="section-button">
                <button>前往查看</button>
                <button>更多系列</button>
            </div>
            <div class="three_img">
                <div class="three_img1">
                    <div></div>
                </div>
                <div class="three_img2">
                    <div></div>
                    <div></div>
                    <p>人生总要有一场
                       <br>充满活力的旅行 Energetic
                       </p>
                </div>
                <div class="three_img3">
                    <div></div>
                </div>
            </div>
        </div>
        <!-- 内容第四部分     -->
        <div class="four_contain">
            <p>情调趣味
                <i class="icon-neiyi iconfont"></i>
            </p>
            <p>清新诱惑系列产品，以清新浅色为主打，展现女性青春之美，给人活力，让人蠢蠢欲动</p>
            <div class="section-button2">
                <button>前往查看</button>
                <button>更多系列</button>
            </div>
            <div class="four_img">
                <div class="four_img1">
                    <div></div>
                    <p>极致尤物Charm</p>
                </div>
                <div class="four_img2">
                    <div></div>
                </div>
                <div class="four_img3">
                    <div></div>
                    <p>逗情打趣
                        <br>上帝派来的致命诱惑</p>
                </div>
            </div>
        </div>
        <!-- 内容第五部分 -->
        <div class="five_contain">
            <p>气质优雅
                <i class="icon-nvren iconfont"></i>
            </p>
            <p>清新诱惑系列产品，以清新浅色为主打，展现女性青春之美，给人活力，让人蠢蠢欲动</p>
            <div class="section-button">
                <button>更多系列</button>
                <button>前往查看</button>
            </div>
            <div class="five_img">
                <div class="five_img1">
                    <div></div>
                    <p>愿你在尘世获得幸福
                        <br>愿你面朝大海，春暖花开</p>
                </div>
                <div class="five_img2">
                    <div></div>
                    <p>优雅气质 Grace</p>
                </div>
                <div class="five_img3">
                    <div></div>
                </div>
            </div>
        </div>
        <!-- 内容第六部分 -->
        <div class="six_contain">
            <p>火爆热款
                <i class="icon-redu iconfont"></i>
            </p>
            <div class="six_img">
                <i></i>
                <i></i>
                <i></i>
                <i></i>
            </div>
        </div>


    </section>
    <% include parts/footer %>
        <script src="./js/jquery-1.11.3.js"></script>
        <script src="./js/layer-v3.1.1/layer/layer.js"></script>
        <script src="./js/index.js"></script>
</body>


</html>