<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_611086_bcxvamj8v0rx80k9.css">
    <link rel="stylesheet" href="./css/parts.css">
    <link rel="stylesheet" href="css/pictrueAlbum.css" />
</head>

<body>
    <% include parts/header %>
        <!--头部banner-->
        <header class="h-banner">
            <div>
                <h2>
                    <span>Fashion</span> Girl</h2>
                <p>让你发现自己的美</p>
            </div>
            <img src="images/pictureAlbum/T台秀1.gif" alt="" />
        </header>
        <!--身体1，内衣设计，秀场-->
        <section class="albumSec1">
            <!-- 双图展示-->
            <div>
                <div>
                    <img src="images/pictureAlbum/showPic6.jpg" alt="" />
                </div>
                <div>
                    <img src="images/pictureAlbum/showPic9.jpg" alt="" />
                </div>
            </div>
            <!--内衣设计-->
            <div>
                <h2>时尚内衣设计</h2>
                <div>
                    除了日常的穿搭之外，想要做个楚楚动人的女子，更应注重方方面面的存在。 而与之相处的内衣则也是不能将就的时尚。想要彰显出属于自己的时尚与性感吗？ 想要做个楚楚动人的小妖精吗？那不如先从陪伴你的贴身内衣开始着手吧！
                </div>
            </div>
            <!-- 内衣秀场-->
            <div>
                <div>
                    <img src="images/pictureAlbum/showPic7.jpg" alt="" />
                    <h2>Fashion Girl 尽显妖娆身姿</h2>
                    <div>
                        Fashion Girl 在上海外滩秀场，举办“迷情午夜”内衣秀，该秀旨在展现女士迷人身段，散发斩男魅力，让人欲罢不能。其中不乏米兰达·可儿等前维密大咖助阵，可见Fashion Girl内衣秀算得上是中国的“维密盛况”！
                    </div>
                </div>
                <div>
                    <div>
                        <img src="images/pictureAlbum/showPic10.jpg" alt="" />
                    </div>
                    <div>
                        <img src="images/pictureAlbum/T台秀.gif" alt="" />
                    </div>

                </div>
            </div>
        </section>
        <!--三图轮播区域-->
        <section class="albumSec2">
            <div>
                <img src="images/pictureAlbum/showPic2.jpg" alt="" />
                <img src="images/pictureAlbum/showPic3.jpg" alt="" />
                <h2>Fashion</h2>
            </div>
            <div>
                <img src="images/pictureAlbum/showPic1.jpg" alt="" />
                <img src="images/pictureAlbum/showPic4.jpg" alt="" />
            </div>
            <div>
                <img src="images/pictureAlbum/showPic12.jpg" alt="" />
                <img src="images/pictureAlbum/showPic5.jpg" alt="" />
                <h2>Girl</h2>
            </div>
        </section>
        <section class="albumSec3">
            <div>
                <img src="images/pictureAlbum/showPic13.jpg" alt="" />
            </div>
            <div>
                <div>
                    <p>百变魅惑girl</p>
                    <p>遇见Fashion Girl，遇见你的曼妙身姿！</p>
                    <p>Meet your limitless Charm！</p>
                </div>
                <div>
                    <img src="images/pictureAlbum/showPic18.jpg" alt="" />
                </div>
            </div>
            <div>
                <img src="images/pictureAlbum/showPic19.jpg" alt="" />
            </div>
            <div>
                <h2></h2>
                <div></div>
            </div>
        </section>

        <% include parts/footer %>
            <script src="./js/jquery-1.11.3.js"></script>
            <script src="./js/layer-v3.1.1/layer/layer.js"></script>
            <script src="./js/index.js"></script>
            <script src="./js/pictrueAlbum.js"></script>
</body>

</html>