*,
a,
li {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}

/* 导航样式 */

header {
    position: relative;
    width: 1347px;
    height: 635px;
    /* border: 1px solid red; */
}

.head-nav {
    position: fixed;
    z-index: 999;
    width: 1347px;
    height: 86px;
    background-color: rgba(52, 52, 52, 0.3);
}

.head-nav1 {
    position: fixed;
    width: 1347px;
    height: 86px;
    background-color: rgb(255, 255, 255, 0.7);
}

.head-nav>h1 {
    width: 356px;
    height: 98px;
    margin-left: 50px;
    margin-top: 5px;
}

.head-nav>h1>img {
    width: 75%;
    height: 75%;
}

.head-nav>ul {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 1000px;
    height: 86px;
    list-style: none;
    overflow: hidden;
    /* border: 1px solid red; */
}

.head-nav>ul>li {
    line-height: 86px;
    float: left;
    margin: 0px 0px 0px 30px;
}

.head-nav>ul>li:nth-child(6) {
    margin-right: 50px;
}

.iconfont {
    font: 40px;
}

.head-nav>ul>li>a {
    color: white;
}

.head-nav>ul>li>a:hover {
    color: #ff0066;
}

/* 轮播样式 */

.box-banner {
    position: relative;
    width: 1347px;
    height: 635px;
    overflow: hidden;
    z-index: -1;
}

.head-banner {
    position: absolute;
    width: 5388px;
    height: 635px;
    top: 0px;
    left: 0px;
}

.head-banner>li {
    width: 1347px;
    height: 635px;
    float: left;
}

.head-banner>li:nth-child(1) {
    background-image: url("../images/home-5038.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.head-banner>li:nth-child(2) {
    background-image: url("../images/1502938457307_-6907284330823835652_03.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.head-banner>li:nth-child(3) {
    background-image: url("../images/01-pilyq-whats-new.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

/* input标签 */

.box {
    position: relative;
    left: 50px;
    width: 200px;
}

.icon-user {
    position: absolute;
    right: 60px;
    top: 41%;
    background-image: url("../images/搜索.png");
    /*引入图片图片*/
    background-repeat: no-repeat;
    /*设置图片不重复*/
    background-position: 0px 0px;
    /*图片显示的位置*/
    width: 20px;
    /*设置图片显示的宽*/
    height: 20px;
    /*图片显示的高*/
}

.user {
    width: 120px;
    height: 22px;
    padding-left: 22px;
    opacity: 0.3;
    border-radius: 12px;
    border: 1px;
}

.user:hover {
    transition: border linear .2s, -webkit-box-shadow linear .5s;
    border: 1px solid #ff0066;
}

.user:hover .icon-user {
    background-image: url("../images/搜索 (1).png");
    background-repeat: no-repeat;
}

.user:focus {
    transition: border linear .2s, -webkit-box-shadow linear .5s;
    border: 1px solid #ff0066;
}

/* 内容 */

section {
    position: relative;
    width: 1347px;
    height: 1500px;
}
/* 内容第一部分 */
.first-contain {
    width: 1347px;
    height: 1003px;
    background: #F7F7F7;
    overflow: hidden;
}

p {
    text-align: center;
    margin: 35px 0px;
}

p:nth-child(1) {
    font-size: 26px;
}

.section-button {
    width: 450px;
    height: 60px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 10px auto;
}

.section-button>button {
    width: 152px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.section-button>button:nth-child(1) {
    background: #ff0066;
    color: white;
    float: left;
}

.section-button>button:nth-child(2) {
    background: white;
    color: #ff0066;
    float: right;
    border: 1px solid #ff0066;
}

.img-t1>div {
    position: absolute;
    background: url('../images/首页展示/野性魅惑/soir-venise-psr-cat-737x770.jpg');
    background-size: 100% 100%;
    left: 186px;
    top: 255px;
    width: 480px;
    height: 500px;
}

.img-t2>div {
    position: absolute;
    top: 390px;
    right: 200px;
    background: url('../images/首页展示/野性魅惑/black.jpg');
    background-size: 100% 100%;
    box-shadow: 5px 2px 5px 3px black;
    width: 455px;
    height: 600px;
}

.img-t1>p {
    position: absolute;
    left: 51%;
    top: 20%;
    font-size: 16px;
}

.img-t2>p {
    position: absolute;
    left: 15%;
    top: 48%;
    font-size: 16px;
}

.text_t1 {
    position: absolute;
    top: 55%;
    left: 28%;
    width: 197px;
    height: 137px;
    text-align: right;
}

.text_t1>i {
    display: inline-block;
    margin: 4px 0px;
    font-style: normal;
    font-size: 14px;
}

/* 内容第二部分 */
.second_contain{
    position: relative;
    /* top: 1000px; */
    width: 1347px;
    height: 932px;
    border: 1px solid red;
}
.second_img{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 24%;
    margin: 0px auto;
    width: 962px;
    height: 614px;
    color: #333333;
    
    /* border: 1px solid red; */
}
.second_img>div{
    box-shadow: 2px 2px 2px 1px grey;
}
.second_img1{
    position: absolute;
    background: url("../images/首页展示/清新自然/splendeur-soie-collection-cat-504x560.jpg");
    background-size: 100% 100%;
    width: 457px;
    height: 562px;
    
}
.second_img1>p{
    position: absolute;
    top: 97%;
    left: 25%;
    font-size: 16px;
}
.second_img2{
    position: absolute;
   left: 51%;
    width: 470px;
    height: 320px;
    /* border:  1px solid red; */
}
.second_img2>div{
    position: absolute;
    width: 217px;
    height: 254px;
}
.second_img2>div:nth-child(1){
    position: absolute;
    background: url("../images/首页展示/清新自然/8.jpg");
    background-size: 100% 100%;
}
.second_img2>div:nth-child(2){
    position: absolute;
    left: 54%;
     background: url("../images/首页展示/清新自然/19A}313[3FTT}1F}H12H]@R.jpg");
    background-size: 100% 100%;
}
.second_img2>p{
    position: absolute;
    top: 78%;
    font-size: 16px;
}
.second_img3{
    position: absolute;
    top: 55%;
    left: 51%;
    background: url("../images/首页展示/清新自然/slide.jpg");
    background-size: 100% 100%;
    background-repeat:no-repeat; 
    width: 469px;
    height: 227px;
}
.second_img3>p{
    position: absolute;
    top: 91%;
    left: 25%;
    font-size: 16px;
}

/* 内容第三部分 */
.three_contain{
    position: relative;
    top:-40px;
    width: 1347px;
    height: 885px;
    background-color: #f7f7f7;
}
.three_contain>p{
    padding-top: 20px;
}
.three_img{
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    width: 974px;
    height: 625px;
    top: 258px;
}
.three_img1{
    position: absolute;
    width: 466px;
    height: 521px;
}
.three_img1>div{
    box-shadow: 1px 1px 1px 1px #333333;
}
.three_img1>div{
    background: url("../images/首页展示/活力少女/sport.jpg");
    background-size: 100% 100%;
    width: 466px;
    height: 521px;
}
.three_img2{
    position: absolute;
    left: 50%;
    width: 484px;
    height: 315px;
    /* border: 1px solid blue; */
}
.three_img2>div:nth-child(1){
    position: absolute;
    width: 230px;
    height: 315px;
    background: url("../images/首页展示/活力少女/070_S18_SPT_074_JS_016_e6294633.jpg");
    background-size: 100% 100%;
}
.three_img2>div:nth-child(2){
    position: absolute;
    width: 236px;
    height: 230px;
    left: 52%;
    background: url("../images/首页展示/活力少女/活力.jpg");
    background-size: 100% 100%;
}
.three_img2>p{
    position: absolute;
    color: #333333;
    font-size: 16px;
    top: 70%;
    left: 53%;
    text-align: left;
    padding:5px;
}
.three_img3{
    position: absolute;
    left: 50%;
    top: 54%;
    width: 486px;
    height: 286px;
}
.three_img3>div{
    position: absolute;
    width: 486px;
    height: 286px;
    background:url("../images/首页展示/活力少女/0000001.jpg");
    background-size: 100% 100%;
}

/* 内容第四部分 */
.four_contain{
    position: relative;
    width: 1347px;
    height: 1020px;
    border: 1px solid red;
}
.four_img{
    position: absolute;
    width: 975px;
    height: 753px;
    border: 1px solid red;
}







/* 
底部导航栏
*/

footer {
    position: relative;
    top: 3000px;
    width: 1347px;
    height: 371px;
    background: #F2F2F2;
}

.bottom-right {
    position: absolute;
    right: 100px;
    top: 18%;
    margin: 0px auto;
}

.bottom-right>ul {
    float: left;
    margin: 0px 40px;
}

.bottom-right>ul>li {
    margin: 17px 0px;
    font-size: 14px;
}

.bottom-right>ul>li a {
    color: gray;
}

.bottom-right>ul>li:nth-child(1) {
    font-weight: bold;
    font-size: 18px;
}

.bottom-right>ul>li:nth-child(1) a {
    color: black
}

.bottom-nav-first {
    position: absolute;
    width: 310px;
    height: 22px;
    left: 150px;
    top: 24%;
}

.bottom-nav-first>a {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.bottom-input {
    position: absolute;
    /* border: 1px solid blue; */
    width: 400px;
    height: 35px;
    left: 150px;
    top: 42%;
}

.bottom-input>input {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto 0px;
    width: 300px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 2px;
}

.bottom-input>button {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 16px;
    margin: auto 0px;
    height: 31px;
    width: 80px;
    background: #000000;
    color: white;
    border: none;
    border-radius: 2px;
}

.bottom {
    position: absolute;
    width: 1347px;
    height: 51px;
    background: #000000;
    color: white;
    text-align: center;
    line-height: 51px;
    font-size: 14px;
    bottom: 0px;
}

.bottom-icon {
    position: absolute;
    width: 150px;
    height: 22px;
    left: 150px;
    top: 65%;
}

.bottom-icon>i {
    margin: auto 6px;
    float: left;
    width: 20px;
    height: 20px;
}

.icon-weixin {
    background-image: url('../images/微信.png');
    background-size: 100% 100%;
}

.icon-weibo {
    background-image: url('../images/微博.png');
    background-size: 100% 100%;
}

.icon-zhifu {
    background-image: url('../images/支付宝认证.png');
    background-size: 100% 100%;
}

.icon-yinlian {
    background-image: url('../images/银行-银联-09.png');
    background-size: 100% 100%;
}

