*,
a,
li {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}

/* 导航样式 */

header {
    position: relative;
    width: 1347px;
    height: 635px;
    /* border: 1px solid red; */
}

.head-nav {
    position: fixed;
    z-index: 999;
    width: 1347px;
    height: 86px;
    background-color: rgba(52, 52, 52, 0.3);
}

.head-nav1 {
    position: fixed;
    width: 1347px;
    height: 86px;
    background-color: rgb(255, 255, 255, 0.7);
}

.head-nav>h1 {
    width: 356px;
    height: 98px;
    margin-left: 50px;
    margin-top: 5px;
}

.head-nav>h1>img {
    width: 75%;
    height: 75%;
}

.head-nav>ul {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 1000px;
    height: 86px;
    list-style: none;
    overflow: hidden;
    /* border: 1px solid red; */
}

.head-nav>ul>li {
    line-height: 86px;
    float: left;
    margin: 0px 0px 0px 30px;
}

.box_icon {
    font-size: 20px;
    color: white;
    z-index: 9999;
}

.box_icon:hover {
    color: #ff0066;
    z-index: 9999;
}

.head-nav>ul>li:nth-child(6) {
    margin-right: 50px;
}

.head-nav>ul>li>a {
    color: white;
}

.head-nav>ul>li>a:hover {
    color: #ff0066;
}

/* 轮播样式 */

.box-banner {
    position: relative;
    width: 1347px;
    height: 635px;
    overflow: hidden;
    z-index: -1;
}

.head-banner {
    position: absolute;
    width: 5388px;
    height: 635px;
    top: 0px;
    left: 0px;
}

.head-banner>li {
    width: 1347px;
    height: 635px;
    float: left;
}

.head-banner>li:nth-child(1) {
    background-image: url("../images/首页banner/home-5038.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.head-banner>li:nth-child(2) {
    background-image: url("../images/首页banner/01-pilyq-whats-new.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.head-banner>li:nth-child(3) {
    background-image: url("../images/首页banner/u8.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* input标签 */

.head_nav_right {
    /*border: 1px solid red;*/
    position: absolute;
    right: 30px;
    top: 30px;
    width: 300px;
    height: 25px
}

.head_nav_right_i {
    position: absolute;
    width: 200px;
    height: 25px;
    left: 80px;
}

.head_nav_right_i>i {
    /*position: absolute;*/
    margin: 0px 20px;
}

.head-nav>ul>li:nth-child(7) {
    border: 1px solid red;
    position: absolute;
    width: 120px;
    height: 30px;
}

.box_input {
    position: absolute;
    width: 120px;
    height: 22px;
    opacity: 0.5;
    border-radius: 10px;
    border: 1px;
}

.box_input:hover {
    border: 1px solid #ff0066;
}

/* 内容 */

section {
    position: relative;
    width: 1347px;
    height: 1500px;
}

/* 内容第一部分 */

.first-contain {
    width: 1347px;
    height: 1003px;
    background: #F7F7F7;
    overflow: hidden;
}

p {
    text-align: center;
    margin: 35px 0px;
}

p:nth-child(1) {
    font-size: 26px;
}

.section-button {
    width: 450px;
    height: 60px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 10px auto;
}

.section-button>button {
    width: 152px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.section-button>button:nth-child(1) {
    background: #ff0066;
    color: white;
    float: left;
}

.section-button>button:nth-child(2) {
    background: white;
    color: #ff0066;
    float: right;
    border: 1px solid #ff0066;
}

.img-t1>div {
    position: absolute;
    background: url('../images/首页展示/野性魅惑/soir-venise-psr-cat-737x770.jpg');
    background-size: 100% 100%;
    left: 186px;
    top: 255px;
    width: 480px;
    height: 500px;
}

.img-t2>div {
    position: absolute;
    top: 390px;
    right: 200px;
    background: url('../images/首页展示/野性魅惑/black.jpg');
    background-size: 100% 100%;
    box-shadow: 5px 2px 5px 3px black;
    width: 455px;
    height: 600px;
}

.img-t1>p {
    position: absolute;
    left: 51%;
    top: 20%;
    font-size: 16px;
}

.img-t2>p {
    position: absolute;
    left: 15%;
    top: 48%;
    font-size: 16px;
}

.text_t1 {
    position: absolute;
    top: 55%;
    left: 28%;
    width: 197px;
    height: 137px;
    text-align: right;
}

.text_t1>i {
    display: inline-block;
    margin: 4px 0px;
    font-style: normal;
    font-size: 14px;
}

/* 内容第二部分 */

.second_contain {
    position: relative;
    /* top: 1000px; */
    width: 1347px;
    height: 932px;
    /* border: 1px solid red; */
}

.second_img {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 24%;
    margin: 0px auto;
    width: 962px;
    height: 614px;
    color: #333333;
    /* border: 1px solid red; */
}

.second_img>div {
    box-shadow: 2px 2px 2px 1px grey;
}

.second_img1 {
    position: absolute;
    background: url("../images/首页展示/清新自然/splendeur-soie-collection-cat-504x560.jpg");
    background-size: 100% 100%;
    width: 457px;
    height: 562px;
}

.second_img1>p {
    position: absolute;
    top: 97%;
    left: 25%;
    font-size: 16px;
}

.second_img2 {
    position: absolute;
    left: 51%;
    width: 470px;
    height: 320px;
    /* border:  1px solid red; */
}

.second_img2>div {
    position: absolute;
    width: 217px;
    height: 254px;
}

.second_img2>div:nth-child(1) {
    position: absolute;
    background: url("../images/首页展示/清新自然/8.jpg");
    background-size: 100% 100%;
}

.second_img2>div:nth-child(2) {
    position: absolute;
    left: 54%;
    background: url("../images/首页展示/清新自然/19A}313[3FTT}1F}H12H]@R.jpg");
    background-size: 100% 100%;
}

.second_img2>p {
    position: absolute;
    top: 78%;
    font-size: 16px;
}

.second_img3 {
    position: absolute;
    top: 55%;
    left: 51%;
    background: url("../images/首页展示/清新自然/slide.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 469px;
    height: 227px;
}

.second_img3>p {
    position: absolute;
    top: 91%;
    left: 25%;
    font-size: 16px;
}

/* 内容第三部分 */

.three_contain {
    position: relative;
    top: -40px;
    width: 1347px;
    height: 885px;
    background-color: #f7f7f7;
}

.three_contain>p {
    padding-top: 20px;
}

.three_img {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    width: 974px;
    height: 625px;
    top: 258px;
}

.three_img1 {
    position: absolute;
    width: 466px;
    height: 521px;
}

.three_img1>div {
    box-shadow: 1px 1px 1px 1px #333333;
}

.three_img1>div {
    background: url("../images/首页展示/活力少女/sport.jpg");
    background-size: 100% 100%;
    width: 466px;
    height: 521px;
}

.three_img2 {
    position: absolute;
    left: 50%;
    width: 484px;
    height: 315px;
    /* border: 1px solid blue; */
}

.three_img2>div:nth-child(1) {
    position: absolute;
    width: 230px;
    height: 315px;
    background: url("../images/首页展示/活力少女/070_S18_SPT_074_JS_016_e6294633.jpg");
    background-size: 100% 100%;
}

.three_img2>div:nth-child(2) {
    position: absolute;
    width: 236px;
    height: 230px;
    left: 52%;
    background: url("../images/首页展示/活力少女/活力.jpg");
    background-size: 100% 100%;
}

.three_img2>p {
    position: absolute;
    color: #333333;
    font-size: 16px;
    top: 70%;
    left: 53%;
    text-align: left;
    padding: 5px;
}

.three_img3 {
    position: absolute;
    left: 50%;
    top: 54%;
    width: 486px;
    height: 286px;
}

.three_img3>div {
    position: absolute;
    width: 486px;
    height: 286px;
    background: url("../images/首页展示/活力少女/0000001.jpg");
    background-size: 100% 100%;
}

/* 内容第四部分 */

.four_contain {
    position: relative;
    width: 1347px;
    height: 1020px;
    /* border: 1px solid red; */
}

.four_img {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 26%;
    margin: 0px auto;
    width: 975px;
    height: 753px;
    /* border: 1px solid red; */
    
}
.four_img1>div,.four_img2>div{
    box-shadow: 2px 1px 1px 1px #333333;
}
.four_img1>div{
    position: absolute;
    background: url("../images/首页展示/情调趣味/new sex.jpg");
    background-size: 100% 100%;
    width: 460px;
    height: 539px;
}
.four_img1>p{
    position: absolute;
    bottom: 18%;
    left: 19%;
    font-size: 16px;
    color: #333333;
    letter-spacing: 1px;
}
.four_img2>div{
    position: absolute;
    left: 55.7%;
    background: url("../images/首页展示/情调趣味/category-4-landscape.jpg");
    background-size: 100% 100%;
    width: 432px;
    height: 287px;
}
.four_img3>div{
    position: absolute;
    left: 48.8%;
    top: 46.6%;
    background: url("../images/首页展示/情调趣味/20180326_c74_b.jpg");
    background-size: 100% 100%;
    width: 500px;
    height: 402px;
}
.four_img3>p{
    position: absolute;
    top: 80%;
    left: 29%;
    font-size: 16px;
    color: #333333;
    text-align: right;
}

/* 内容第五部分 */

.five_contain{
    position: relative;
    width: 1347px;
    height: 1225px;
    /* border: 1px solid red; */
    background-color: #f7f7f7;
}
.five_img{
    position: absolute;
    right: 0px;
    left: 0px;
    top: 20%;
    margin: 0px auto;
    width: 975px;
    height: 980px;
    /* border: 1px solid blue; */
}
.five_img1>div,.five_img2>div,.five_img3>div{
    box-shadow: 1px 0px 10px  #111111;
}
.five_img1>div{
    position: absolute;
    right: 0px;
    width: 600px;
    top: 0px;
    height: 338px;
    background: url("../images/首页展示/气质优雅/优雅.jpg");
    background-size: 100% 100%;
}
.five_img1>p{
    position: absolute;
    text-align: right;
    top:10%;
    left:18%;
    letter-spacing: 1px;
    font-size: 16px;
    color: #333333;
}
.five_img2>div{
    position: absolute;
    left: 0px;
    top: 36%;
    width: 525px;
    height: 420px;
    background: url("../images/首页展示/气质优雅/mariejo.jpg");
    background-size: 100% 100%;
}
.five_img2>p{
    position: absolute;
    text-align: left;
    top:27%;
    left:0px;
    letter-spacing: 1px;
    font-size: 16px;
    color: #333333;
}

.five_img3>div{
    position: absolute;
    right: 0px;
    top: 41.5%;
    width: 428px;
    height: 570px;
    background: url("../images/首页展示/气质优雅/068_S18_BRA_047_RS_039_e6183885.jpg");
    background-size: 100% 100%;
}

/* 内容第六部分 */
.six_contain{
    position: relative;
    width: 1347px;
    height: 882px;
    /* border: 1px solid red; */
}
.six_img{
    position: absolute;
    right: 0px;
    left: 0px;
    top: 18%;
    margin: 0px auto;
    width: 970px;
    height: 690px;
    /* border: 1px solid red; */

}
.six_img>i:nth-child(1){
    position: absolute;
    background: url("../images/首页展示/火爆热款/P_2017_E_P_01_PP_002_T0L.jpg");
    background-size: 100% 100%;
    width: 440px;
    height: 352px;
}
.six_img>i:nth-child(2){
    position: absolute;
    right: 0px;
    background: url("../images/首页展示/火爆热款/Parahi10500-5059.jpg");
    background-size: 100% 100%;
    width: 517px;
    height: 279px;
}
.six_img>i:nth-child(3){
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: url("../images/首页展示/火爆热款/bloc-photo-haute-couture.jpg");
    background-size: 100% 100%;
    width: 440px;
    height: 317px;
}
.six_img>i:nth-child(4){
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: url("../images/首页展示/火爆热款/P_2018_E_P_01_BA_001_T0L.jpg");
    background-size: 100% 100%;
    width: 516px;
    height: 402px;
}
.six_img>i{
    box-shadow: 1px 0px 12px  #000000;
}



/* 底部导航栏 */


footer {
    position: relative;
    top: 4625px;
    width: 1347px;
    height: 371px;
    background: #F2F2F2;
}

.bottom-right {
    position: absolute;
    right: 100px;
    top: 18%;
    margin: 0px auto;
}

.bottom-right>ul {
    float: left;
    margin: 0px 40px;
}

.bottom-right>ul>li {
    margin: 17px 0px;
    font-size: 14px;
}

.bottom-right>ul>li a {
    color: gray;
}

.bottom-right>ul>li:nth-child(1) {
    font-weight: bold;
    font-size: 18px;
}

.bottom-right>ul>li:nth-child(1) a {
    color: black
}

.bottom-nav-first {
    position: absolute;
    width: 310px;
    height: 22px;
    left: 150px;
    top: 24%;
}

.bottom-nav-first>a {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.bottom-input {
    position: absolute;
    /* border: 1px solid blue; */
    width: 400px;
    height: 35px;
    left: 150px;
    top: 42%;
}

.bottom-input>input {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto 0px;
    width: 300px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 2px;
}

.bottom-input>button {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 16px;
    margin: auto 0px;
    height: 31px;
    width: 80px;
    background: #000000;
    color: white;
    border: none;
    border-radius: 2px;
}

.bottom {
    position: absolute;
    width: 1347px;
    height: 51px;
    background: #000000;
    color: white;
    text-align: center;
    line-height: 51px;
    font-size: 14px;
    bottom: 0px;
}

.bottom-icon {
    position: absolute;
    width: 150px;
    height: 22px;
    left: 150px;
    top: 65%;
}

.bottom-icon>i {
    margin: auto 6px;
    float: left;
    width: 20px;
    height: 20px;
}

.icon-weixin {
    background-image: url('../images/微信.png');
    background-size: 100% 100%;
}

.icon-weibo {
    background-image: url('../images/微博.png');
    background-size: 100% 100%;
}

.icon-zhifu {
    background-image: url('../images/支付宝认证.png');
    background-size: 100% 100%;
}

.icon-yinlian {
    background-image: url('../images/银行-银联-09.png');
    background-size: 100% 100%;
}