*,
a,
li,
input {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'Sans-serif' Helvetica;
}

body {
    width: 100%;
}
img:hover{
    transform: scale(1.2);
    transition: all .6s;
}
.shutter-img a img:hover{
    transform: scale(1);
}
p {
    letter-spacing: .2em;
}
.iconfont{
    font-size: 30px;
}
/* 内容第一部分 */

section {
    width: 100%;
}

.first-contain {
    opacity: 0;
    width: 100%;
    background: #f0f0f0;
    height: 800px;
    overflow: hidden
}

.first-contain_load {
    opacity: 1;
    width: 100%;
    background: #f7f7f7;
    height: 800px;
    overflow: hidden;
    transition: all .5s linear;
}

.first_text {
    margin-left: -1050px;
    width: 100%;
}
/* .first_text p:nth-child(1){
    font-size: 30px;
    color: #ff0066;
} */

.first_text1 {
    margin-left: 0px;
    width: 100%;
    transition: all .9s linear;
}

.img_contain {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.img_contain>div:nth-child(1) {
    width: 450px;
    height: 520px;
    margin: 55px 20px 20px 0px;
    overflow: hidden;
}

.img_contain>div:nth-child(1)>img {
    width: 100%;
    height: 100%;
    transition: all .6s;
    cursor: pointer;
}

/* .img_contain>div:nth-child(1)>img:hover {
    transform: scale(1.2);
} */

.img_contain>div:nth-child(2) {
    margin: 55px 0px 20px 0px;
    width: 450px;
    height: 520px;
    overflow: hidden;
    cursor: pointer;
}

.img_contain>div:nth-child(2)>img {
    width: 100%;
    height: 100%;
    transition: all .6s;
}

/* .img_contain>div:nth-child(2)>img:hover {
    transform: scale(1.2);
} */

p {
    text-align: center;
    margin: 35px 0
}

p:nth-child(1) {
    font-size: 30px;
    color: #ff0066;
}

.section-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 450px;
    height: 60px;
    margin: auto;
}

.section-button>button {
    width: 152px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.section-button>button:nth-child(1) {
    width: 152px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    -webkit-appearance: none;
    color: #f8faff;
    background: #f06;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 1px 8px rgba(255, 0, 130, 0.5);
}
.section-button>button:nth-child(1):hover{
    transform: scale(1.1);
    transition: all .2s;
}
.section-button>button:nth-child(2):hover{
    transform: scale(1.1);
    transition: all .2s;
}

.section-button>button:nth-child(1):focus {
    outline: 0;
}

.section-button>button:nth-child(1):before,
.section-button>button:nth-child(1):after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}

.section-button>button:nth-child(1):active {
    transform: scale(0.9);
    background-color: #e60074;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.section-button>button:nth-child(1).animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.35s forwards;
}

.section-button>button:nth-child(1).animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.35s forwards;
}

.section-button>button:nth-child(2):focus {
    outline: 0;
}

.section-button>button:nth-child(2):before,
.section-button>button:nth-child(1):after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}

.section-button>button:nth-child(2):active {
    transform: scale(0.9);
    background-color: #fff;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.section-button>button:nth-child(2).animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.35s forwards;
}

.section-button>button:nth-child(2).animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.35s forwards;
}

.section-button>button:nth-child(2) {
    width: 152px;
    height: 40px;
    border: 1px solid #f06;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    -webkit-appearance: none;
    color: #f06;
    background: #fff;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}

.second_contain {
    position: relative;
    width: 100%;
    height: 932px;
    overflow: hidden;
}

.second_text {
    margin-left: 1050px;
    width: 100%;
    z-index: 999;
}
.second_text1{
    margin-left: 0px;
    width: 100%;
    transition: all .9s linear;
    z-index: 999;
}

.second_img {
    position: absolute;
    left: 0;
    right: 0;
    top: 27%;
    margin: 0 auto;
    width: 962px;
    height: 614px;
    color: #333
}

.second_img1 {
    position: absolute;
    width: 457px;
    height: 562px;
    box-shadow: -1px -2px 2px 1px lightgrey;
    overflow: hidden;
    cursor: pointer;
    transition: all .6s;
}

.second_img1>p {
    position: absolute;
    top: 96%;
    left: 25%;
    font-size: 16px
}

.second_img2 {
    position: absolute;
    left: 51%;
    width: 470px;
    height: 320px;
    box-shadow: -1px -1px 2px 1px lightgrey;
    overflow: hidden;
}

.second_img2>div {
    cursor: pointer;
    position: absolute;
    width: 217px;
    height: 254px
}

.second_img2>div img {
    width: 100%;
    height: 100%
}

.second_img2>div:nth-child(2) {
    left: 54%;
}

.second_img2>p {
    position: absolute;
    top: 76%;
    font-size: 16px
}

.second_img3 {
    position: absolute;
    top: 55%;
    left: 51%;
    width: 469px;
    height: 227px;
    box-shadow: 2px 2px 2px 1px lightgrey;
    overflow: hidden;
    cursor: pointer;
}

.second_img3>img {
    width: 100%;
    height: 100%;
}

.second_img3>p {
    position: absolute;
    top: 91%;
    left: 32%;
    font-size: 16px
}

/* 第三部分 */

.three_contain {
    position: relative;
    top: -40px;
    width: 100%;
    height: 885px;
    background-color: #f0f0f0;
    overflow: hidden;
}

.three_text {
    opacity: 0;
    width: 100%;
}
/* .three_text>p:nth-child(1){
    font-size: 30px;
    color: #ff0066;
} */

.three_contain>p {
    padding-top: 20px
}

.three_img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 974px;
    height: 625px;
    top: 28.7%;
}

.three_img1 {
    position: absolute;
    width: 466px;
    height: 521px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 2px -2px 2px 1px lightgrey;
}

.three_img1>img {
    opacity: 0;
    width: 100%;
    height: 100%;
}

.three_img2 {
    position: absolute;
    left: 50%;
    width: 484px;
    height: 315px;
    overflow: hidden;
    cursor: pointer;
}

.three_img2>div:nth-child(1) {
    position: absolute;
    width: 230px;
    height: 315px;
    box-shadow: 2px -2px 2px 1px lightgrey;
}

.three_img2>div:nth-child(1)>img {
    opacity: 0;
    width: 100%;
    height: 100%;
}

.three_img2>div:nth-child(2) {
    position: absolute;
    width: 236px;
    height: 230px;
    left: 52%;
    overflow: hidden;
}

.three_img2>div:nth-child(2)>img {
    opacity: 0;
    width: 100%;
    height: 100%;
}
 
.three_img2>p {
    width: 300px;
    position: absolute;
    color: #333;
    font-size: 16px;
    top: 70%;
    left: 38%;
    text-align: right;
    padding: 5px
}

.three_img3 {
    position: absolute;
    left: 50%;
    top: 54%;
    width: 486px;
    height: 286px;
    box-shadow: 2px 2px 2px 1px lightgrey;
    overflow: hidden;
    cursor: pointer;
}

.three_img3>img {
    opacity: 0;
    width: 100%;
    height: 100%;
}

/* 第四部分 */

.four_contain {
    position: relative;
    width: 100%;
    height: 1020px
}

.four_text {
    margin-top: -40px;
    /* border: 1px solid red; */
}

.four_img {
    position: absolute;
    left: 0;
    right: 0;
    top: 25.4%;
    margin: 0 auto;
    width: 974px;
    height: 753px
}

.four_img1 {
    width: 46.6%;
    height: 539px;
    box-shadow: -2px -2px 2px 1px lightgrey;
    overflow: hidden;
    cursor: pointer;
}

.four_img1>img {
    width: 100%;
    height: 100%;
}

.four_img1>p {
    position: absolute;
    bottom: 18%;
    left: 19%;
    font-size: 16px;
    color: #333;
    letter-spacing: 1px
}

.four_img2 {
    position: absolute;
    top: 0%;
    margin-left: 48.7%;
    width: 500px;
    height: 287px;
    cursor: pointer;
    overflow: hidden;
}

.four_img2>img {
    width: 100%;
    height: 100%;
}

.four_img2>p {
    position: absolute;
    margin-left: 50%;
    bottom: -26%
}

.four_img3 {
    position: absolute;
    left: 48.8%;
    top: 46.5%;
    width: 51.2%;
    height: 402px;
    box-shadow: 2px 2px 2px 1px lightgrey;
    cursor: pointer;
    overflow: hidden;
}

.four_img3>img {
    width: 100%;
    height: 100%;
}

.four_img>p {
    position: absolute;
    top: 80%;
    left: 29%;
    width: 18%;
    font-size: 16px;
    color: #333;
    text-align: right
}

.five_contain {
    position: relative;
    width: 100%;
    height: 1240px;
    background-color: #f0f0f0;
    overflow: hidden;
}

.five_img {
    position: absolute;
    right: 0;
    left: 0;
    top: 21%;
    margin: 0 auto;
    width: 975px;
    height: 980px;
}

.five_img1 {
    position: absolute;
    right: 0%;
    width: 600px;
    top: 3.5%;
    height: 338px;
    box-shadow: -2px -2px 2px 1px lightgrey;
    cursor: pointer;
    overflow: hidden;
}

.five_img1>img {
    width: 100%;
    height: 100%;
}

.five_img>p {
    position: absolute;
    text-align: right;
    top: 15%;
    left: 18%;
    letter-spacing: 1px;
    font-size: 16px;
    color: #333;
}

.five_img2 {
    position: absolute;
    left: 0;
    top: 41.5%;
    width: 525px;
    height: 420px;
    cursor: pointer;
    overflow: hidden;
}

.five_img2>img {
    width: 100%;
    height: 100%;
}

.five_img2>p {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 40%;
    letter-spacing: 1px;
    font-size: 16px;
    color: #333
}

.five_img3 {
    position: absolute;
    right: 0;
    top: 41.5%;
    width: 428px;
    height: 570px;
    box-shadow: -2px -2px 2px 1px lightgrey;
    cursor: pointer;
    overflow: hidden;
}

.five_img3>img {
    width: 100%;
    height: 100%;
}

.six_contain {
    position: relative;
    width: 100%;
    height: 850px;
    /* border: 1px solid red; */
}

.six_contain>p {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 30px auto 0px auto;
    top: 30px;
}

.six_img {
    position: absolute;
    right: 0;
    left: 0;
    top: 18%;
    margin: 0 auto;
    width: 970px;
    height: 690px
}

.i1 {
    position: absolute;
    width: 440px;
    height: 352px;
    overflow: hidden;
}

.six_img_next>img {
    width: 100%;
    height: 100%;
    transition: all .7s;
}

.six_img_next>img:hover {
    cursor: pointer;
    transform: scale(1.1)
}

.i2 {
    position: absolute;
    right: 0;
    width: 517px;
    height: 279px;
    overflow: hidden;
}

.i3 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 440px;
    height: 317px;
    overflow: hidden;
}

.i4 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 516px;
    height: 402px;
    overflow: hidden;
}

.six_img img {
    box-shadow: 1px 0 8px grey;
}

footer {
    margin-top: 80px;
}
