* {
  margin: 0;
  padding: 0;
}
#container div {
  letter-spacing: .15em;
  line-height: 35px;
}
body {
  width: 100%;
  /* background: #f7f7f7; */
}
h2 {
  font-size: 26px;
  letter-spacing: .2em;
  line-height: 70px;
}
.h-banner {
  width: 100%;
  height: 550px;
  position: relative;
}
.h-banner div {
  position: absolute;
  left: 10px;
  top: 180px;
  width: 450px;
}
.h-banner div h2 {
  color: white;
  font-size: 36px;
  height: 80px;
  float: right;
}
.h-banner div h2 span {
  color: #ff0066;
}
.h-banner div p {
  font-size: 36px;
  color: white;
  letter-spacing: .5em;
  height: 80px;
  float: right;
}
.h-banner img {
  width: 100%;
  height: 550px;
}
/* .section{
  width: 84%;
  margin: 0 auto;
  padding: 0 8%;
} */
section {
  width: 84%;
  /* padding: 0 auto; */
  
  padding: 0 8%;
  overflow: hidden;
}
.albumSec1 {
  background-color: #f0f0f0;  
  height: 1850px;
  /* display: flex; */
  
}
.albumSec1 > div:first-child {
  overflow: hidden;
  width: 100%;
  margin-left: 35px;
}
.albumSec1 > div:first-child > div {
  float: left;
  width: 44%;
  height: 600px;
  margin-top: 50px;
  overflow: hidden;
}
.albumSec1 > div:first-child > div img {
  width: 100%;
  height: 730px;
}
.albumSec1 > div:first-child > div:nth-of-type(2) {
  margin-left: 6%;
}
.albumSec1 > div:nth-of-type(2) {
  width: 94%;
  background-color: white;
  margin: 20px 0  0 35px;
  height: 200px;
}
.albumSec1 > div:nth-of-type(2) h2 {
  width: 84%;
  text-align: center;
  margin: 0 auto;
}
.albumSec1 > div:nth-of-type(2) > div {
  width: 82%;
  text-align: center;
  margin: 0 auto;
}
.albumSec1 > div:nth-of-type(3) {
  /* position: absolute; */
  width: 96%;
  margin-top: 20px;
  margin-left: 20px;
  overflow: hidden;

}
.albumSec1 > div:nth-of-type(3) > div {
  float: left;
  margin-left: 15px;
  /* border: 1px solid red; */
}
.albumSec1 > div:nth-of-type(3) > div:nth-of-type(1) {
  /* position: relative; */
  /* left: 35px; */
  width: 45%;
  height: 700px; 
}
.albumSec1 > div:nth-of-type(3) > div:nth-of-type(1) img {
  width: 100%;
  height: 100%;
}
.albumSec1 > div:nth-of-type(3) > div:nth-of-type(1) h2 {
  margin: 0 35px;
  color: #ff0066;
}
.albumSec1 > div:nth-of-type(3) > div:nth-of-type(2) {
  margin-left: 74px;
  width: 46%;
}
.albumSec1 > div:nth-of-type(3) > div:nth-of-type(2) img {
  width: 100%;
}
.albumSec1 > div:nth-of-type(3) > div:nth-of-type(2) > img:first-child {
  height: 600px;
}
.albumSec1 > div:nth-of-type(3) > div:nth-of-type(2) > img:last-child {
  height: 300px;
}
.albumSec2 {
  background-color: white;
  height: 570px;
}
.albumSec2 div {
  position: relative;
  width: 30%;
  float: left;
  margin-left: 35px;
  margin-top: 20px;
}
.albumSec2 div img {
  transition: all 1s linear;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
}
.albumSec2 div img:nth-of-type(2) {
  opacity: 0;
}
.albumSec2 div > h2 {
  color: #ff0066;
  margin-left: 30%;
}
.albumSec2 div:nth-of-type(1) {
  height: 460px;
}
.albumSec2 div:nth-of-type(1) img {
  height: 460px;
}
.albumSec2 div:nth-of-type(1) > h2 {
  margin-top: 475px;
}
.albumSec2 div:nth-of-type(2) {
  height: 520px;
  margin-left: 2%;
}
.albumSec2 div:nth-of-type(2) img {
  height: 520px;
}
.albumSec2 div:nth-of-type(3) {
  height: 460px;
  margin-left: 2%;
}
.albumSec2 div:nth-of-type(3) img {
  height: 460px;
}
.albumSec2 div:nth-of-type(3) > h2 {
  margin: 475px 0 0 40%;
}
.albumSec3 {
  /* position: relative; */
  margin-top: 10px;
  margin-bottom: 20px;
  height: 520px;
}
.albumSec3>div {
  float: left;
}
.albumSec3>div:nth-of-type(3) {
  width: 30%;
  margin-left: 2%;
}
.albumSec3 div:nth-of-type(3) img {
  width: 100%;
  height: 460px;
}
.albumSec3 > div:nth-of-type(1) {
  width: 30%;
  margin-left: 35px;
}
.albumSec3 > div:nth-of-type(1) img {
  width: 100%;
  height: 460px;
}
.albumSec3 > div:nth-of-type(2) {
  position: relative;
  margin-left: 2%;
  width: 30%;
  height: 230px;
}
.albumSec3 > div:nth-of-type(2) div:first-child {
  margin-top: 30px;
}
.albumSec3 > div:nth-of-type(2) div:first-child p {
  text-align: center;
  line-height: 50px;
  height: 50px;
}
.albumSec3 > div:nth-of-type(2) div:last-child {
  height: 228px;
  position: absolute;
  top: 233px;
}
.albumSec3 > div:nth-of-type(2) div:last-child img {
  width: 100%;
}
