@import "_var";
@import "reset.css";
.person-info {
    padding-top: 50px;
    background: url('../img/person/bg.png') no-repeat;
    background-size: 100%;
    height: 700px;
    .person-info-wrap{
        margin: 0 auto;
        width: 80%;
    }
    .person-info-tabs {
        width: 20%;
        background: #fef2f3;
        .l;
        .radius;
        .head img {
            
            width: 81px;
            .radius(50px);
        }
    }
    .person-info-content{
        margin-left: 20px;
        width: 75%;
        background: #fef2f3;
        .l;
        .radius;
    }
}