
    <!-- 底部导航 -->
    <footer>
    <div class="bottom-nav-first">
        <a href="">FashionGirl 品牌内衣打造时尚女性</a>
    </div>
    <div class="bottom-input">
        <input type="text" placeholder="请输入您要输入的内容">
        <button>搜索</button>
    </div>
    <div class="bottom-icon">
        <i class="iconfont icon-weixin"></i>
        <i class="iconfont icon-QQ"></i>
        <i class="iconfont icon-zhifubaorenzheng"></i>
        <i class="iconfont icon-yinlian"></i>
    </div>
    <div class="bottom-right">
        <ul class="bottom-ul-1">
            <li>
                <a href="">公司信息</a>
            </li>
            <li>
                <a href="">公司介绍</a>
            </li>
            <li>
                <a href="">服务条款</a>
            </li>
            <li>
                <a href="">法律声明</a>
            </li>
            <li>
                <a href="">免责声明</a>
            </li>
        </ul>
        <ul class="bottom-ul-2">
            <li>
                <a href="">服务支持</a>
            </li>
            <li>
                <a href="">联系客服</a>
            </li>
            <li>
                <a href="">更新日志</a>
            </li>
            <li>
                <a href="">供应优质内衣</a>
            </li>
            <li>
                <a href="">更新产品</a>
            </li>
        </ul>
        <ul class="bottom-ul-3">
            <li>
                <a href="">关于我们</a>
            </li>
            <li>
                <a href="">FashionGirl介绍</a>
            </li>
            <li>
                <a href="">联系我们</a>
            </li>
            <li>
                <a href="">隐私政策</a>
            </li>
            <li>
                <a href="">用户注册协议</a>
            </li>
        </ul>
        <ul class="bottom-ul-4">
            <li>
                <a href="">最新资讯</a>
            </li>
            <li>
                <a href="">新品上市</a>
            </li>
            <li>
                <a href="">情调趣味热卖</a>
            </li>
            <li>
                <a href="">品牌宣传</a>
            </li>
            <li>
                <a href="">当今的内衣产业链</a>
            </li>
        </ul>
    </div>
    <div class="bottom">
        ©2018 FashionGirl 意见反馈 京ICP证030173号 京公网安备11000002000001号
    </div>
   </footer>