<!-- 导航栏 -->
<nav class="head-nav">
    <h1>
        <img src="./images/logo/logo.png" alt="">
    </h1>
    <ul>
        <li>
            <a href="index.html" class="list_item">商城首页</a>
        </li>
        <li>
            <a href="javascript:void(0)" class="list_item product_txt">产品系列</a>
        </li>
        <li>
            <a href="pictureAlbum.html" class="list_item">产品画册</a>
        </li>
        <li>
            <a href="culture.html" class="list_item">内衣文化</a>
        </li>
        <li>
            <a href="vip.html" class="list_item">会员尊享</a>
        </li>
        <li>
            <a href="brand-story.html" class="list_item">品牌故事</a>
        </li>
    </ul>
    <!-- 产品系列下拉菜单 -->
    <div id="list">
        <i class="iconfont icon-sanjiaotop iconbox"></i>
        <ul class="list_ul">
            <li>野性魅惑</li>
            <li>活力少女</li>
            <li>气质优雅</li>
        </ul>
        <ul class="list_ul">
            <li>清新自然</li>
            <li>情趣趣味</li>
        </ul>
    </div>
    <div class='product_img'>
        <div></div>
        <div>
            <h1>丝薄诱惑</h1>
            <label>高品质无痕基础款式，若是穿了一条贴 身的裙子，繁琐的内衣装饰就变得不再 受欢迎。避免内衣凸起的尴尬，是女孩 们此刻最真实的需求，满足舒适、轻薄、 无痕的功能。
            </label>
        </div>
        <input type="button" class="button" value="点击探索">
    </div>
</div>

    <div class="head_nav_right">
        <input type="text" class="box_input" placeholder="搜索">
        <div class="head_nav_right_i">
            <!-- <i class="box_icon ico icon-iconset0317 iconfont"></i> -->
            <a href="javascript:void(0)" class="box_icon">
                <i class="icon-sousuo iconfont"></i>
            </a>
            <a href="javascript:void(0)" class="box_icon">
                <i class="icon-gerenzhongxin iconfont"></i>
            </a>
            <a href="javascript:void(0)" class="box_icon" id="shopping">
                <i class="icon-daohanggouwuche iconfont"></i>
            </a>
            <a href="javascript:void(0)" class="out">
                <i class="iconfont icon-login_out"></i>
            </a>
        </div>
    </div>
</nav>