<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_611086_gr4a9mxvu0nyu8fr.css">
    <link rel="stylesheet" href="./css/login.css">
    <title>login</title>
</head>

<body>
    <!-- 登录注册 -->
    <div action="login.do" method="post" class="submit">
        <div class="login_contain">
            <div class="login_contain_left">
                <img src="./images/login/login_pic.png" alt="">
            </div>
            <div class="login_contain_right">
                <div class="l_z">
                    <span>登录</span>
                    <span>注册</span>
                </div>
                <!-- 登录输入框 -->
                <form id="denglu">
                    <div class="login_row" action="submit" method="post">
                        <div class="field">
                            <input type="text" id="username" name="username" class="input_big" placeholder="请输入用户名/手机号">
                            <i class="iconfont icon-suo icon_login"></i>
                            <div class="Prompt">
                                <i class="iconfont icon-error"></i>
                                <span class="st-icon-pandora">用户名不存在</span>
                            </div>
                            
                        </div>
                        <div class="field">
                            <input type="password" id="password" name="password" class="input_big" placeholder="请输入密码">
                            <i class="iconfont icon-gerenzhongxin1 icon_login"></i>
                            <div class="Prompt1">
                                <i class="iconfont icon-error-r-o"></i>
                                <span class="st-icon-pandora">密码错误</span>
                            </div>
                        </div>
                        <div class='input_checkbox'>
                            <input type="checkbox" value="记住密码">
                            <span>记住密码</span>
                            <a href="javascript:void(0)">忘记密码？</a>
                        </div>
                        <input type="button" class="button" id="logBtn" value="登录">
                        <div class="login_text">通过以下账号登录</div>
                        <div class="login_icon">
                            <i class="iconfont icon-qq"></i>
                            <i class="iconfont icon-weibo"></i>
                            <i class="iconfont icon-zhifubaozhifu"></i>
                        </div>
                    </div>
            </div>
        </div>
        </form>
        <!-- 注册 -->
        <form action="" id="zhuce">
            <div class="register" action="submit" method="post">
                <div class="regs_contain">
                    <input type="text" class="input_big" name="username" placeholder="请输入手机号">
                    <i class="iconfont icon-gerenzhongxin1 icon_login"></i>
                </div>
                <div class="regs_contain">
                    <input type="text" class="input_big identCode" placeholder="短信验证码">
                    <input type="button" class="req_mesg getIdent_code" value="点击获取"></input>
                </div>
                <div class="regs_contain">
                    <input type="password" class="input_big" name="password" placeholder="最新密码长度为6">
                    <i class="iconfont icon-suo icon_login"></i>
                </div>
                <div class="regs_contain">
                    <input type="password" class="input_big" placeholder="请再次输入密码">
                    <i class="iconfont icon-hekriconshebeisuoguan icon_login"></i>
                </div>
                <div class="regist_checkbox">
                    <input type="checkbox">阅读并同意
                    <a href="">《FashionGirl服务协议》</a>
                </div>
                <div class="regist_button">
                    <input type="button" class="button" id="regBtn" value="注册"></input>
                </div>
            </div>
        </form>

        <!-- 忘记密码 -->
        <form action="" id="wangji">
            <span>重置密码</span>
            <div class="forget_pwd">
                <div class="register">
                    <div class="regs_contain">
                        <input type="text" class="input_big" name="username" placeholder="请输入你的手机号码">
                    </div>
                    <div class="regs_contain">
                        <input type="password" class="input_big" name="password" placeholder="请输入新密码">
                    </div>
                    <div class="regs_contain">
                        <input type="password" class="input_big" placeholder="请再次输入新密码">
                    </div>
                    <div class="regs_contain">
                        <input type="text" class="input_big identCode" placeholder="请输入短信验证码">
                        <input type="button" class="req_mesg getIdent_code" value="点击获取"></input>
                    </div>
                    <div class="forget_button">
                        <input type="button" class="button" value="确定" id="resetPwd"></input>
                    </div>
                </div>
        </form>
        </div>
</body>
<script src="./js/jquery-1.11.3.js"></script>
<script src="./js/layer-v3.1.1/layer/layer.js"></script>
<script src="./js/index.js"></script>

</html>